* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #263238;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

/* Join Room */
.join {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 10px;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px 2px rgb(164, 165, 168);
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  color: white;
}

.join input,
select,
button {
  height: 45px;
  border: none;
  outline: none;
  color: rgb(59, 60, 62);
  border-radius: 4px;
  border: 1px solid rgb(182, 184, 190);
  font-size: 16px;
}
.join-btn {
  /* color: white; */
}

.join input::placeholder,
select::placeholder {
  color: hsl(223, 3%, 56%);
}

.join input,
select {
  padding: 0 10px;
}

.join button:hover {
  background-color: inherit;
  color:white
}

.join button:active {
  background-color: rgb(201, 205, 220);
}

/* ChatNdParticipants */
.rightBox {
  border-radius: 10px;

  width: 30%;
  background-color: white;
  padding: 0px 0px 58px 0px;
}

.rightBox__optionView {
  height: 100%;
}

.rightBox__head {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  background: black;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid white;
}

.rightBox__head .selected {
  color: white;
}

.rightBox__head span {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  
  color: #a6a8ab;
  cursor: pointer;
}

.rightBox__head span:nth-child(1) {
  margin-right: 10px;
}

.rightBox__chats {
  height: calc(100% - 60px);
  overflow: scroll;
  padding: 10px;
  
  scrollbar-width: none; /* Firefox */
}

.rightBox__chats::-webkit-scrollbar {
  display: none;
}

.rightBox__optionView form input {
  border: none;
  width: 100%;
  height: 40px;
  background-color: hsl(228, 25%, 88%);
  border-radius: 10px;
  padding: 0 10px;
  box-sizing: border-box;
  color: #000;
}

.rightBox__optionView form input:focus {
  outline: none;
}

.rightBox__participants {
  padding: 10px;
  height: 100%;
  overflow: scroll;
  ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.rightBox__participants::-webkit-scrollbar {
  display: none;
}

.rightBox__participant {
  background-color: #000000;
  padding:5px 12px;
  /* border-radius: 5px; */
  font-size: 18px;
  overflow: hidden;
  margin-bottom: 5px;
  color: white;
  border-radius: 5px;
  animation: floatup .5s forwards;
  line-height: 1.5em;
}

.rightBox__participant_role{
    font-size: 12px;
    color: rgb(191, 196, 199);
}

/* Controls */
.controls {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 20px;
  height: 80px;
  margin-top: 10px;
  /* background-color: white; */
  border-radius: 10px;
  gap: 10px;
}

.controls .MuiButton-root .MuiSvgIcon-root {
  margin-right: 5px;
}

.controls .MuiButton-root img {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.controls .MuiButton-root {
  text-transform: unset;
  padding: 10px;
  border-radius: 10px;
}

.controls .leave {
  background-color: rgb(241, 110, 110);
  padding: 20px;
}
.controls .stopbtn {
  background-color: rgb(241, 110, 110);
  padding: 20px;
}
.controls .video-icon {
  background-color: rgb(255, 255, 255);
}
.controls .video-icon:hover {
  background-color: rgb(235, 234, 234);
}

.controls .leave:hover {
  background-color: rgb(242, 87, 87);
}

/* HlsView and VideoTile */
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.video {
  width: calc(50% - 10px);
  height: unset;
}

/* Message */
.message {
  width: fit-content;
  text-align: left;
  max-width: 90%;
}

.message span {
  font-size: 12px;
  color: rgb(191, 196, 199);
}

.message p {
  /* background-color: hsl(180, 11%, 87%); */
  background-color: #000000;
  padding:5px 12px;
  /* border-radius: 5px; */
  font-size: 18px;
  overflow: hidden;
  margin-bottom: 5px;
  color: white;
  border-radius: 5px;
  border-top-left-radius: 1.4rem;
  border-bottom-left-radius: 2px;
  animation: floatup .5s forwards;
  line-height: 1.5em;

}

@keyframes floatup {
  from {
      transform: translateY(14px);
      opacity: .0;
  }
  to {
      transform: translateY(0px);
      opacity: 1;
  }
}

.myMessage {
  margin-left: auto;
  text-align: right;
}

.myMessage p {
  background-color: rgb(92 92 92);
  color: white;
  padding: 5px 12px;
  font-size: 18px;
  border-radius: 5px;
  border-top-right-radius: 1.4rem;
  border-bottom-right-radius: 2px;
  animation: floatup .5s forwards;
}

/* Room */
.room {
  display: flex;
  width: 100vw;
  height: 95vh;
  border-radius: 10px;
  margin-top: 1%;
  gap: 10px;
}

.room__streamSpace {
  width: 100%;
  height: 100%;
}

.liveStream {
  border-radius: 10px;
  height: calc(100% - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}

/* Stream */
.stream {
  border-radius: 10px;
  height: calc(100% - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}
.react-emoji{
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  background: black;
  border-radius: 8px 8px 0px 0px;
  padding: 8px;
}

@media (max-width: 426px) {
  .room {
    flex-wrap: wrap;
  }
  .rightBox {
    width: 100%;
    height: 300px;
    scroll-behavior: smooth;
    padding-bottom: 50px;
  }
  .react-emoji-picker {
    left: 30px !important;
  }
  .emoji-mart.emoji-mart-light {
    width: 310px !important;
}
.react-emoji-picker--wrapper {
  position: absolute;
  bottom: 0;
  right: 9px;
  height: 357px;
  width: 349px;
  overflow: hidden;
  z-index: 10;
}
}